1) Imports and loading dataset

In [90]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential
import matplotlib.pyplot as plt
from datetime import datetime
import re

In [21]:
train_data= pd.read_csv(r'C:\Users\nourm\OneDrive\Desktop\PROJECTS\Food_Delivery_Time_Predictor\FDT_Predictor\Dataset\train.csv')

test_data= pd.read_csv(r'C:\Users\nourm\OneDrive\Desktop\PROJECTS\Food_Delivery_Time_Predictor\FDT_Predictor\Dataset\test.csv')

Data exploration

In [22]:
print(train_data.shape)
print("\n")
print(test_data.shape)
print("\n")
print(train_data.dtypes)
print("\n")
print(test_data.dtypes)
print("\n")
train_data.info()
print("\n")
train_data.columns

(45593, 20)


(11399, 19)


ID                              object
Delivery_person_ID              object
Delivery_person_Age             object
Delivery_person_Ratings         object
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Weatherconditions               object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries             object
Festival                        object
City                            object
Time_taken(min)                 object
dtype: object


ID                              object
Delivery_person_ID              object
Delivery_person_Age             object
Delivery_person_Ratings         object
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Weatherconditions               object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries             object
Festival                        object
City                            object
dtype: object


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  object
 3   Delivery_person_Ratings      45593 non-null  object
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  45593 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weatherconditions            45593 non-null  object
 12  Road_traffic_density         45593 non-null  object
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          45593 non-null  object
 17  Festival                     45593 non-null  object
 18  City                         45593 non-null  object
 19  Time_taken(min)              45593 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 7.0+ MB

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weatherconditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken(min)'],
      dtype='object')

In [12]:
train_data.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [13]:
test_data.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
0,0x2318,COIMBRES13DEL01,NaN,NaN,11.003669,76.976494,11.043669,77.016494,30-03-2022,NaN,15:05:00,conditions NaN,NaN,3,Drinks,electric_scooter,1,No,Metropolitian
1,0x3474,BANGRES15DEL01,28,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30:00,20:35:00,conditions Windy,Jam,0,Snack,motorcycle,1,No,Metropolitian
2,0x9420,JAPRES09DEL03,23,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35:00,19:45:00,conditions Stormy,Jam,0,Drinks,motorcycle,1,No,Metropolitian
3,0x72ee,JAPRES07DEL03,21,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15:00,17:20:00,conditions Fog,Medium,1,Meal,scooter,1,No,Metropolitian
4,0xa759,CHENRES19DEL01,31,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25:00,18:40:00,conditions Sunny,Medium,2,Drinks,scooter,1,No,Metropolitian

In [14]:
train_data.describe()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition
count,45593.000000,45593.000000,45593.000000,45593.000000,45593.000000
mean,17.017729,70.231332,17.465186,70.845702,1.023359
std,8.185109,22.883647,7.335122,21.118812,0.839065
min,-30.905562,-88.366217,0.010000,0.010000,0.000000
25%,12.933284,73.170000,12.988453,73.280000,0.000000
50%,18.546947,75.898497,18.633934,76.002574,1.000000
75%,22.728163,78.044095,22.785049,78.107044,2.000000
max,30.914057,88.433452,31.054057,88.563452,3.000000

In [15]:
test_data.describe()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition
count,11399.000000,11399.000000,11399.000000,11399.000000,11399.000000
mean,17.099934,70.399259,17.569497,71.102187,1.031406
std,8.193510,22.773144,7.287440,20.693782,0.839599
min,-30.902872,-88.400467,0.010000,0.010000,0.000000
25%,12.933284,73.170937,12.992532,73.771081,0.000000
50%,18.551440,75.897429,18.643481,75.996959,1.000000
75%,22.732225,78.045732,22.791226,78.109004,2.000000
max,30.914057,88.433452,31.054057,88.563452,3.000000

In [17]:
train_data.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weatherconditions              0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken(min)                0
dtype: int64

In [18]:
train_data.duplicated().sum()

0

Preprocessing and data cleaning

In [69]:
data1=train_data.copy()
#clean Time_taken(min) - remove min and convert to numeric
data1['Time_taken(min)'] = data1['Time_taken(min)'].str.replace('(min)' , '' , regex=False)


data1['Time_taken(min)'] = pd.to_numeric(data1['Time_taken(min)'] , errors='coerce')

#convert delivery person's age , rating and multiple deliveries to numeric

data1['Delivery_person_Age']=pd.to_numeric(data1['Delivery_person_Age'] , errors='coerce')

data1['Delivery_person_Ratings'] = pd.to_numeric(data1['Delivery_person_Ratings'], errors='coerce')

data1['multiple_deliveries'] = pd.to_numeric(data1['multiple_deliveries'], errors='coerce')

# Converting order_date dtype into datetime
data1['Order_Date']=pd.to_datetime(data1['Order_Date'])


#handle missing values
data1 = data1.dropna()

#drop id , not needed
data1.drop('ID',axis=1,inplace=True)


print(f"data shape post cleaning : {data1.shape}")

data shape post cleaning : (42752, 19)

C:\Users\nourm\AppData\Local\Temp\ipykernel_20604\3745762658.py:17: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data1['Order_Date']=pd.to_datetime(data1['Order_Date'])

In [70]:
data1.head()

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0.0,No,Urban,24
1,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1.0,No,Metropolitian,33
2,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1.0,No,Urban,26
3,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1.0,No,Metropolitian,21
4,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1.0,No,Metropolitian,30

In [71]:
data2=test_data.copy()

# convert delivery person's age , rating and multiple deliveries to numeric
data2['Delivery_person_Age'] = pd.to_numeric(data2['Delivery_person_Age'] , errors='coerce')

data2['Delivery_person_Ratings'] = pd.to_numeric(data2['Delivery_person_Ratings'], errors='coerce')

data2['multiple_deliveries'] = pd.to_numeric(data2['multiple_deliveries'], errors='coerce')

# Converting order_date dtype into datetime
data2['Order_Date'] = pd.to_datetime(data2['Order_Date'])


# handle missing values
data2 = data2.dropna()

# drop id , not needed
data2.drop('ID', axis=1, inplace=True)

print(f"data shape post cleaning : {data2.shape}")

data2.head()

data shape post cleaning : (10668, 18)

C:\Users\nourm\AppData\Local\Temp\ipykernel_20604\2392989369.py:11: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data2['Order_Date'] = pd.to_datetime(data2['Order_Date'])

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,BANGRES15DEL01,28.0,4.6,12.975377,77.696664,13.085377,77.806664,2022-03-29,20:30:00,20:35:00,conditions Windy,Jam,0,Snack,motorcycle,1.0,No,Metropolitian
2,JAPRES09DEL03,23.0,4.5,26.911378,75.789034,27.001378,75.879034,2022-03-10,19:35:00,19:45:00,conditions Stormy,Jam,0,Drinks,motorcycle,1.0,No,Metropolitian
3,JAPRES07DEL03,21.0,4.8,26.766536,75.837333,26.856536,75.927333,2022-04-02,17:15:00,17:20:00,conditions Fog,Medium,1,Meal,scooter,1.0,No,Metropolitian
4,CHENRES19DEL01,31.0,4.6,12.986047,80.218114,13.096047,80.328114,2022-03-27,18:25:00,18:40:00,conditions Sunny,Medium,2,Drinks,scooter,1.0,No,Metropolitian
5,GOARES04DEL01,26.0,4.7,15.569600,73.742294,15.579600,73.752294,2022-02-15,09:45:00,09:55:00,conditions Fog,Low,0,Drinks,motorcycle,1.0,No,Metropolitian

Feature engineering

In [72]:
def calculate_distance(lat1,lon1,lat2,lon2):
  R=6371 #earth's radius in kilometers
  lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
  dlat = lat2 - lat1
  dlon = lon2 - lon1
  a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
  return 2 * R * np.arcsin(np.sqrt(a))

data1['distance_km'] = calculate_distance(data1['Restaurant_latitude'], data1['Restaurant_longitude'],
        data1['Delivery_location_latitude'], data1['Delivery_location_longitude'])

In [73]:
# Creating three column for day,month and year
data1['Order_day']=data1['Order_Date'].dt.day
data1['Order_month']=data1['Order_Date'].dt.month
data1['Order_year']=data1['Order_Date'].dt.year

# Creating three column for day,month and year
data2['Order_day']=data2['Order_Date'].dt.day
data2['Order_month']=data2['Order_Date'].dt.month
data2['Order_year']=data2['Order_Date'].dt.year

In [74]:
# Creating two new column for hour and minute
data1['Time_Orderd'] = pd.to_datetime(data1['Time_Orderd'], format='%H:%M:%S', errors='coerce') #must turn to date time first
data1['Hour_order']=data1['Time_Orderd'].dt.hour
data1['Min_order']=data1['Time_Orderd'].dt.minute

data2['Time_Orderd'] = pd.to_datetime(data2['Time_Orderd'], format='%H:%M:%S', errors='coerce')
data2['Hour_order']=data2['Time_Orderd'].dt.hour
data2['Min_order']=data2['Time_Orderd'].dt.minute

Encode categorical variables

In [75]:
categorical_columns = ['Weatherconditions', 'Road_traffic_density', 'Type_of_order', 
                          'Type_of_vehicle', 'Festival', 'City']

label_encoders = {}
for col in categorical_columns:
 label_encoder=LabelEncoder()
 data1[col+'_encoded'] = label_encoder.fit_transform(data1[col])

In [77]:
data1.head()

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,...,Order_month,Order_year,Hour_order,Min_order,Weatherconditions_encoded,Road_traffic_density_encoded,Type_of_order_encoded,Type_of_vehicle_encoded,Festival_encoded,City_encoded
0,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,1900-01-01 11:30:00,11:45:00,...,3,2022,11.0,30.0,5,0,3,2,1,3
1,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,1900-01-01 19:45:00,19:50:00,...,3,2022,19.0,45.0,4,1,3,3,1,0
2,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,1900-01-01 08:30:00,08:45:00,...,3,2022,8.0,30.0,3,2,1,2,1,3
3,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,1900-01-01 18:00:00,18:10:00,...,4,2022,18.0,0.0,5,3,0,2,1,0
4,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,1900-01-01 13:30:00,13:45:00,...,3,2022,13.0,30.0,0,0,3,3,1,0

In [78]:
data1.shape

(42752, 31)

In [79]:
data1.columns

Index(['Delivery_person_ID', 'Delivery_person_Age', 'Delivery_person_Ratings',
       'Restaurant_latitude', 'Restaurant_longitude',
       'Delivery_location_latitude', 'Delivery_location_longitude',
       'Order_Date', 'Time_Orderd', 'Time_Order_picked', 'Weatherconditions',
       'Road_traffic_density', 'Vehicle_condition', 'Type_of_order',
       'Type_of_vehicle', 'multiple_deliveries', 'Festival', 'City',
       'Time_taken(min)', 'distance_km', 'Order_day', 'Order_month',
       'Order_year', 'Hour_order', 'Min_order', 'Weatherconditions_encoded',
       'Road_traffic_density_encoded', 'Type_of_order_encoded',
       'Type_of_vehicle_encoded', 'Festival_encoded', 'City_encoded'],
      dtype='object')

In [84]:
feature_columns = [
        'Delivery_person_Age', 'Delivery_person_Ratings', 'Vehicle_condition',
        'multiple_deliveries', 'distance_km','Order_day', 'Order_month',
       'Order_year', 'Hour_order', 'Min_order' ,
        'Weatherconditions_encoded', 'Road_traffic_density_encoded',
        'Type_of_order_encoded', 'Type_of_vehicle_encoded', 
        'Festival_encoded', 'City_encoded'
    ]

X = data1[feature_columns]
y = data1['Time_taken(min)']

#data split

X_train , X_test , y_train , y_test= train_test_split( X , y , test_size=0.2, random_state=42)

#scale features

scaler=StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [87]:
X_train_scaled.shape

(34201, 16)

In [88]:
X_test_scaled.shape

(8551, 16)

Build model

In [101]:
x_shape = X_train_scaled.shape[1]  # This gives you just 16 (number of features)

model= Sequential ([
  #input layer
  layers.Dense(128, activation='relu', input_shape=(x_shape,)),  # Note the comma!
  layers.Dropout(0.3), 
  #hidden layers
  layers.Dense(64 , activation = 'relu') ,layers.Dropout(0.3) ,
  layers.Dense(32, activation='relu'),layers.Dropout(0.2),
  layers.Dense(16, activation='relu'),
  # Output layer
  layers.Dense(1, activation='linear')  # Linear for regression
])

model.compile(optimizer='adam' , loss='mean_squared_error' ,metrics=['mean_absolute_error', 'accuracy'] )

model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_30 (Dense)            (None, 128)               2176

 dropout_18 (Dropout)        (None, 128)               0

 dense_31 (Dense)            (None, 64)                8256

 dropout_19 (Dropout)        (None, 64)                0

 dense_32 (Dense)            (None, 32)                2080

 dropout_20 (Dropout)        (None, 32)                0

 dense_33 (Dense)            (None, 16)                528

 dense_34 (Dense)            (None, 1)                 17

=================================================================
Total params: 13,057
Trainable params: 13,057
Non-trainable params: 0
_________________________________________________________________

In [102]:
early_stopping = keras.callbacks.EarlyStopping(
        monitor='val_loss',
        patience=15,
        restore_best_weights=True
    )
    
reduce_lr = keras.callbacks.ReduceLROnPlateau(
    monitor='val_loss',
    factor=0.5,
    patience=10,
    min_lr=0.0001
)

# Train the model
history = model.fit(
    X_train_scaled, y_train,
    batch_size=32,
    epochs=100,
    validation_data=(X_test, y_test),
    callbacks=[early_stopping, reduce_lr],
    verbose=1
)

Epoch 1/100
1069/1069 [==============================] - 14s 10ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 2/100
1069/1069 [==============================] - 10s 10ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 3/100
1069/1069 [==============================] - 11s 10ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 4/100
1069/1069 [==============================] - 14s 13ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 5/100
1069/1069 [==============================] - 15s 14ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 6/100
1069/1069 [==============================] - 7s 7ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 7/100
1069/1069 [==============================] - 11s 10ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 8/100
1069/1069 [==============================] - 15s 14ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 9/100
1069/1069 [==============================] - 16s 15ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 10/100
1069/1069 [==============================] - 19s 17ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 11/100
1069/1069 [==============================] - 20s 19ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 5.0000e-04
Epoch 12/100
1069/1069 [==============================] - 22s 20ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 5.0000e-04
Epoch 13/100
1069/1069 [==============================] - 19s 18ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 5.0000e-04
Epoch 14/100
1069/1069 [==============================] - 16s 15ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 5.0000e-04
Epoch 15/100
1069/1069 [==============================] - 6s 6ms/step - loss: nan - mean_absolute_error: nan - accuracy: 0.0000e+00 - val_loss: nan - val_mean_absolute_error: nan - val_accuracy: 0.0000e+00 - lr: 5.0000e-04

In [97]:
print("Building model with input shape:", X_train.shape[1])
model.X_train.shape[1] # Should be 16

Building model with input shape: 16

AttributeError: 'Sequential' object has no attribute 'X_train'